[submodule "kuromoji"]
	path = kuromoji
	url = https://github.com/takuyaa/kuromoji.js.git
[submodule "kuromoji-js-dictionary"]
	path = kuromoji-js-dictionary
	url = https://github.com/frontainer/kuromoji-js-dictionary.git
